
  <div class="form-todo">
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
      <div class="form-control">
        <label>Title</label>
        <input
          ngModel
          name="title"
          type="text"
          placeholder="Add title"
        >
      </div>
<!--       <div class="form-control">
        <label>Content</label>
        <textarea type="textarea" placeholder="Add content" rows="3"></textarea>
      </div> -->
      <button class="btn" type="submit">Add</button>
    </form>
  </div>

  <app-todo-item
    *ngFor="let todo of todos"
    [todo]="todo"
    (checkboxClicked)="toggleCompleted(todo)"
    (editClicked)="editTodo(todo)"
    (deleteClicked)="deleteTodo(todo)"
  ></app-todo-item>

