
  <div class="form-todo">
    <form>
      <div class="form-control">
        <label>Title</label>
        <input type="text" placeholder="Add title">
      </div>
<!--       <div class="form-control">
        <label>Content</label>
        <textarea type="textarea" placeholder="Add content" rows="3"></textarea>
      </div> -->
      <button class="btn" type="submit">Add</button>
    </form>
  </div>

  <div class="card" style="width: 18rem;">
    <div>
      <div class="checkbox">
        <input type="checkbox" id="todos" name="scales"
        checked>
        <label for="todos">
          <h2 class="card-title">Card title</h2>
        </label>
      </div>
      <p class=card-p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, in.</p>
      <button class="btn btn-warning">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </div>
  </div>
