.btn.btn-warning {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #ffc107;
  border-radius: 0.25rem;
  color: black;
  font-weight: 400;
  margin-top: 1.5rem;

  &:hover {
      background-color: #ffc107;
  }
}

.btn {
  display: inline-block;
  background: #333333;
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}