.card {
  width: 18rem;
  display: block;
  border: 1px solid #ced4da;
  line-height: 1.5;
  border-radius: 0.25rem;
  margin-top: 3rem;
  padding: 1.5rem 1.5rem
}

p.card-p {
  font-size: 1rem;
  font-weight: 400;
}

.card-title {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.btn.btn-warning {
  background-color: transparent;
  border: 1px solid #ffc107;
  border-radius: 0.25rem;
  color: black;
  font-weight: 400;
  margin-top: 1.5rem;

  &:hover {
      background-color: #ffc107;
  }
}

.btn.btn-danger {
  background-color: transparent;
  border: 1px solid #dc3545;
  border-radius: 0.25rem;
  color: black;
  font-weight: 400;
  margin-top: 1.5rem;

  &:hover {
      background-color: #dc3545;
      color:#fff;
  }
}

.checkbox {
  display: flex;
}

.checkbox input{
  width: 1rem;
  margin-right: 1rem;
}

.checkbox h2 {
  margin-top: 0.5rem;
}
